---
import Layout from "../layouts/Layout.astro";
import ChatBox from "../components/ChatBox.jsx";
---

<Layout title="Situation Puzzle">
  <main class="flex flex-col items-center justify-center m-auto w-full h-full">
    <div class="position-absolute w-full h-full md:w-[600px] md:max-w-[calc(100%-2rem)] md:h-80%">
      <ChatBox client:only="react" />
    </div>
  </main>
</Layout>
