---
import Providers from "./Providers";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="w-full h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="w-full h-full">
    <div
      class="absolute inset-0 max-h-[1368px] overflow-hidden pointer-events-none touch-none select-none"
    >
      <img
        class="absolute -top-[100px] -left-[300px] sm:-left-[200px] -z-10 pointer-events-none touch-none select-none object-fill max-w-none"
        src="/assets/bg1.png"
        width="1728"
        height="1368"
      />
      <img
        class="absolute top-[150px] -right-[400px] sm:-right-[300px] -z-10 pointer-events-none touch-none select-none object-fill max-w-none"
        src="/assets/bg2.png"
        width="1728"
        height="1136"
      />
    </div>
    <Providers>
      <slot />
    </Providers>
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
  }
</style>
